@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
@if (!Model.Any())
{
    <p>We don't have any movies yet. Check back later.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Genre</th>
                <th>Release Date</th>
                <th>Date Added</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.Id }, null)</td>
                    <td>@movie.Genre.Name</td>
                    <td>@movie.ReleaseDate.ToString("MMMM dd, yyyy")</td>
                    <td>@movie.DateAdded.ToString("MMMM dd, yyyy")</td>
                    <td>@movie.Stock</td>
                </tr>
            }
        </tbody>
    </table>

    @Html.ActionLink("New Movie", "New", "Movies", null, new { @class = "btn btn-primary" })
}